*,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 400;

    line-height: 1.2;
    letter-spacing: 0em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-wrap: break-word;
  }

  a {text-decoration: none; color: #000000;}

  body {
    background-color: #FAFAFA;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 3em;
    background-color: #181818;
    color: #FFFFFF;
  }
